# Dependencies
node_modules/
package.json
package-lock.json

# Next.js build output
.next/
out/

# Expo / React Native build output
apps/bubui-mobile/android/
apps/bipi-mobile/android/
apps/bubui-mobile/.expo/
apps/bipi-mobile/.expo/

# Build info
*.tsbuildinfo

# Env files
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*
