<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Negocio Vivo Control Horario" Manufacturer="Negocio Vivo Marketing" Version="1.0.5" UpgradeCode="6E1E8E27-0B3C-4BF1-BDBD-C4E6F685EE84" Language="1033" Scope="perUser">
    <Icon Id="AgentBrandIcon" SourceFile="windows-time-agent\assets\negocio-vivo.ico" />
    <Property Id="ARPPRODUCTICON" Value="AgentBrandIcon" />
    <MajorUpgrade DowngradeErrorMessage="Ya hay una versión más reciente instalada." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="Negocio Vivo Control Horario">
        <Component Id="AgentExecutable" Guid="*">
          <File Id="AgentExe" Source="windows-time-agent\publish\Negocio Vivo Control Horario.exe" KeyPath="yes" />
        </Component>
        <Component Id="AgentD3D" Guid="*"><File Source="windows-time-agent\publish\D3DCompiler_47_cor3.dll" KeyPath="yes" /></Component>
        <Component Id="AgentPen" Guid="*"><File Source="windows-time-agent\publish\PenImc_cor3.dll" KeyPath="yes" /></Component>
        <Component Id="AgentPresentation" Guid="*"><File Source="windows-time-agent\publish\PresentationNative_cor3.dll" KeyPath="yes" /></Component>
        <Component Id="AgentVcruntime" Guid="*"><File Source="windows-time-agent\publish\vcruntime140_cor3.dll" KeyPath="yes" /></Component>
        <Component Id="AgentWpf" Guid="*"><File Source="windows-time-agent\publish\wpfgfx_cor3.dll" KeyPath="yes" /></Component>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AgentMenu" Name="Negocio Vivo">
        <Component Id="AgentShortcuts" Guid="*">
          <Shortcut Id="AgentStartMenu" Name="Control horario" Target="[#AgentExe]" WorkingDirectory="INSTALLFOLDER" Icon="AgentBrandIcon" />
          <RegistryValue Root="HKCU" Key="Software\NegocioVivo\TimeAgent" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
          <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="Negocio Vivo Control Horario" Type="string" Value="&quot;[#AgentExe]&quot; --background" />
          <RemoveFolder Id="RemoveAgentMenu" On="uninstall" />
        </Component>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder">
      <Component Id="AgentDesktopShortcut" Guid="*">
        <Shortcut Id="AgentDesktop" Name="Negocio Vivo - Control horario" Target="[#AgentExe]" WorkingDirectory="INSTALLFOLDER" Icon="AgentBrandIcon" />
        <RegistryValue Root="HKCU" Key="Software\NegocioVivo\TimeAgent" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>
    <Feature Id="MainFeature" Title="Negocio Vivo Control Horario" Level="1">
      <ComponentRef Id="AgentDesktopShortcut" />
      <ComponentRef Id="AgentExecutable" />
      <ComponentRef Id="AgentShortcuts" />
      <ComponentRef Id="AgentD3D" />
      <ComponentRef Id="AgentPen" />
      <ComponentRef Id="AgentPresentation" />
      <ComponentRef Id="AgentVcruntime" />
      <ComponentRef Id="AgentWpf" />
    </Feature>
  </Package>
</Wix>
